<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/Office/1.0/MicrosoftAjax.js"></script>
    <script src="~/Scripts/Office/1.0/office.js"></script>
    <script src="~/Scripts/DataCollectionApp.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
